{% extends "layout/app.html" %} {% block body_block %}

<h1>Change your password</h1>
<form action="{% url 'password_reset' %}" method="post">
  {% csrf_token %}
  
  {% if form.errors %}
  <div class="alert alert-primary">Error: Please try again</div>
  {% endif %}

  <label for="">{{ form.new_password1.label }}</label>
  {{ form.new_password1 }}

  <label for="">{{ form.new_password2.label }}</label>
  {{ form.new_password2 }}

  <button type="submit">Send Email</button>
</form>

{% endblock %}
